<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.springboot5.dao.StudentinfoMapper">
  <resultMap id="BaseResultMap" type="com.hr.springboot5.entity.Studentinfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="classid" jdbcType="INTEGER" property="classid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from huari..studentinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hr.springboot5.entity.Studentinfo">
    insert into huari..studentinfo (id, name, sex, 
      date, classid)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{date,jdbcType=DATE}, #{classid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hr.springboot5.entity.Studentinfo">
    update huari..studentinfo
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      date = #{date,jdbcType=DATE},
      classid = #{classid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, sex, date, classid
    from huari..studentinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, sex, date, classid
    from huari..studentinfo
  </select>
</mapper>